{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "ie >= 11", "Firefox ESR"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread"
  ],
  "sourceMaps": true,
  "inputSourceMap": true
}
